body{
    margin: 0;
    padding: 0;
    background-image: url("./yonro.jpg") linear-gradient(#86A789,#86A789);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}